<% if @item  %>
    <% @item.errors.full_messages.each do |message|%>
        <p><%= message %> </p>
    <% end %>
<% end %>

<h1>Create a new Item</h1>
<form method="POST"  action="/items">
    <div>
        <label>Item Name</label>
        <input type="text" placeholder="Item name" name="name"  /> 
    </div>
    <div>
        <label>Item Cost</label>
        <input type="number" name="cost"  />
    </div>
    <div>
        <label>Listing Price</label>
    <input type="number" name="listing_price"  />
    </div>
    <div>
        <label>Item Condition</label>
        <input type="text" name="condition"  />
    </div>
    <input type="submit" value="Create Item">
</form>