<h1>Create a new Item</h1>
<form method="POST"  action="/items">
    <div>
        <label>Item Name</label>
        <input type="text" placeholder="Item name" name="name"  /> 
    </div>
    <input type="number" name="cost"  />
    <input type="number" name="listing_price"  />
    <input type="text" name="condition"  />
    <input type="submit">
</form>